

    {% assign maxRelated = 5 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    {% assign first = 0 %}
    
    {% for doc in site.docs %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for category in doc.categories %}
        {% if doc.url != page.url %}
            {% if page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {% if sameTagCount >= minCommonTags %}
        {% if first == 0 %}
        <div class="uk-margin-large-top">
            <h3>{{ site.data.translation[site.lang].related_docs | default: "Outline" }}</h3>        
            <ul class="uk-list link-secondary">
            {% assign first = 1 %}
        {% endif %}        
        <li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
    {% endif %}

    {% endfor %}
    {% if first == 1 %}</ul></div>{% endif %}
